<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center display-4 text-primary texto-sombreado">Asier Mart&iacute;n Gonz&aacute;lez</h1>
    <p class="text-center">Desarrollador de Aplicaciones Web</p>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h5><img src="../../assets/img/phone.png" width="40px" alt="Desarrollador de Aplicaciones Web">635 06 27 70</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h5><img src="../../assets/img/email.png" width="40px" alt="Desarrollador de Aplicaciones Web"><a href="mailto:asiermgonzalez@outlook.es"> asiermgonzalez@outlook.es</a></h5>
      </div>
    </div>
  </div>
</div>
