<div class="container margen-superior-80">
  <h2 class="text-center p-2 bg-primary text-light rounded">Portfolio</h2>

  <!--BM PELUQUEROS-->
  <div class="row">
    <div class="col-md-12">
      <h3 id="titulo-bmpeluqueros">BM Peluqueros</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/img/bmpeluqueros.PNG" alt="Asier Mart&iacute;n Gonz&aacute;lez">
    </div>
    <div class="col-md-8">
      <h5><a href="https://www.bmpeluqueros.com" target="_blank">Enlace a Web</a></h5>
      <p>Landing Page para una peluquería. <br>
        Dispone de un pequeño menú de administrador desde el que poder actualizar los precios y subir artículos al blog.
        <br><br>
        <i>La página ha sido desarrollada utilizando las tecnologías de HTML, CSS, Javascript, JQuery, Bootstrap, PHP y
          MySQL.</i></p>
    </div>
  </div>

  <hr>

  <!--AVOCARS-->
  <div class="row mt-4">
    <div class="col-md-12">
      <h3 class="text-danger">AVO<span class="text-primary">CARS</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/img/avocars.PNG" alt="Asier Mart&iacute;n Gonz&aacute;lez">
    </div>
    <div class="col-md-8">
      <h5><a href="http://www.avocars.es" target="_blank">Enlace a Web</a></h5>
      <p>Web venta de vehículos de ocasión SPA<br>
        Una única página sin recargas al pulsar en los enlaces. Dispone de buscador de vehículos y de un menú de
        administrador desde el que poder cargar los vehículos, modificarlos y eliminarlos.<br><br>
        <i>La página ha sido desarrollada utilizando las tecnologías de HTML, CSS, Javascript, JQuery, Bootstrap, PHP y
          MySQL.</i></p>
    </div>
  </div>

  <hr>

  <!--LEMFO-->
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>LEMFO Smartwatch</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/img/lemfo.PNG" alt="Asier Mart&iacute;n Gonz&aacute;lez">
    </div>
    <div class="col-md-8">
      <h5><a href="https://www.lemfo.es" target="_blank">Enlace a Web</a></h5>
      <p>Ecommerce de venta de Smartwatch<br>
        De momento solo se venden relojes inteligentes de la marca Lemfo, pero muy pronto dispondrá de un catálogo ampliado a las principales marcas. <br>
        Se puede pagar con Paypal y tarjeta. Dispone de un amplio menú para cargar los smartwatch pensado para conseguir un buen posicionamiento web. <br><br>
        <i>La página ha sido desarrollada utilizando las tecnologías de HTML, CSS, Javascript, JQuery, Bootstrap, PHP, MySQL, PayPal checkout.</i></p>
    </div>
  </div>

  <hr>

  <!--INFORMEEVALUACIONEDIFICIOS-->
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>ALONE Arquitectura e Ingeniería</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/img/alone.PNG" alt="Asier Mart&iacute;n Gonz&aacute;lez">
    </div>
    <div class="col-md-8">
      <h5><a href="http://www.informeevaluacionedificios.es/" target="_blank">Enlace a Web</a></h5>
      <p>Posicionamiento SEO<br>
        Web diseñada para conseguir el mejor posicionamiento en los buscadores. Dispone de una calculadora en tiempo real con valores establecidos por el cliente.<br><br>
        <i>La página ha sido desarrollada utilizando las tecnologías de HTML, CSS, Javascript, JQuery, Bootstrap, PHP, MySQL, PayPal checkout.</i></p>
    </div>
  </div>

  <hr>



</div>